<div class="description">
<h5>Keep it Simple</h5>

<ul>
    <li>We build the app with only one use case: <b>Invite your friends to lunch.</b></li>
    <li>No restaurant recommendation, cause you and your friends know your typical lunch places.</li>
    <li>You can only invite for the actual day between 11:00 and 16:00.</li>
    <li>You can only invite your twitter followers cause we can easily use twitters DM to send invites.</li>
    <li>No iCal and outlook files, cause its just a lunch with your friends not a fucking company meeting.</li>
</ul>

<h5>Technical stuff</h5>

<ul>
    <li>This is a project build for <a href="http://nodeknockout.com/">nodeknockout!</a> so obiously: the software is build in node.js</li>
    <li>We used express as app framework</li>
    <li>Ui is tested in modern browsers, also on mobile.</li>
</ul>

<h5>User Workflow</h5>

<ul>
    <li>Fetching all followers when the user logs in for teh first time.</li>
    <li>Create an event in level DB</li>
    <li>Send invites via twitter DM with personalized links to the event</li>
    <li>Invited people can join or decline on this side</li>
</ul>
</div>