<p>Mahlzeit is a twitter based tool to invite your friends to a lunchdate</p>
<b>How does it work?</b>
<ol>
    <li>Login with twitter</li>
    <li>Choose location, time and your friends</li>
    <li>Mahlzeit will automatically invite your friends via twitter direct message</li>
    <li>Your friends will get a link to view the lunchdate details and say if they will join you</li>
</ol>