<p>Mahlzeit is a twitter based tool to invite your friends to a lunch date.</p>
<b>How does it work?</b>
<ol>
    <li>Login with twitter</li>
    <li>Choose a location, time and your friends</li>
    <li>Mahlzeit will automatically invite your friends via twitter direct message</li>
    <li>Invited friends will get a link to view the lunch date details and reject your invitation or join you and you friends</li>
</ol>