Hello {{screen_name}}!

<script>
  var users = {{{users}}};
</script>
<input id="title" placeholder="Wo?"/>
<div class="time">
  <ul class="row">
    <li>11:<i>00</i></li>
    <li>11:<i>15</i></li>
    <li>11:<i>30</i></li>
    <li>11:<i>45</i></li>
    <li>12:<i>00</i></li>
    <li>12:<i>15</i></li>
    <li>12:<i>30</i></li>
    <li>12:<i>45</i></li>
    <li>13:<i>00</i></li>
    <li>13:<i>15</i></li>
    <li>13:<i>30</i></li>
    <li>13:<i>45</i></li>
    <li>14:<i>00</i></li>
    <li>14:<i>15</i></li>
    <li>14:<i>30</i></li>
    <li>14:<i>45</i></li>
  </ul>
</div>
<ul id="invites" class="row invites"></ul>
<input placeholder="Wer?" id="search" autocomplete="off">
<ul id="result" class="friends-list"></ul>

<div class="ready">
  <button id="invite">Omnomnom</button>
  <button id="reset">Abrechen</button>
</div>
<script src="/js/app.js"></script>
