<!DOCTYPE HTML>
<head>
  <meta charset="utf-8">
  <title>mahlzeit 3000</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link href='http://fonts.googleapis.com/css?family=Arbutus+Slab' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="/favicon.ico" />

  <script src="/js/underscore-min.js"></script>
  <script src="/js/backbone-min.js"></script>
</head>
<body>
{{{body}}}
</body>
</html>
