<!DOCTYPE HTML>
<head>
  <meta charset="utf-8">
  <title>mahlzeit 3000</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="/favicon.ico"/>
  <script src="/js/jquery-1.8.2.min.js"></script>
  <script src="/js/underscore-min.js"></script>
  <script src="/js/backbone-min.js"></script>
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="cleartype" content="on">
</head>
<body>
<div class="event-area">
  <header>Mahlzeit!</header>
  {{{body}}}
</div>
<footer>
  <ul>
    <li><a href="/help">Help</a></li>
    <li><a href="/team">Team</a></li>
    <li><a href="/nodenockout">Engine</a></li>
  </ul>
</footer>
</body>
</html>
