<!DOCTYPE HTML>
<head>
  <meta charset="utf-8">
  <title>mahlzeit 3000</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/backbone-min.js"></script>
  <script src="/js/underscore-min.js"></script>
</head>
<body>
  {{{body}}}
</body>
</html>
