<!DOCTYPE HTML>
<head>
  <meta charset="utf-8">
  <title>mahlzeit 3000</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="/favicon.ico" />
  <script src="/js/jquery-1.8.2.min.js"></script>
  <script src="/js/underscore-min.js"></script>
  <script src="/js/backbone-min.js"></script>
</head>
<body>
<div class="event-area">
    <img class="logo" src="/img/icon.png"/>
{{{body}}}
</div>
<footer></footer>
</body>
</html>
