<p>Want to meet your friends for lunch but tired of mail ping pong?</p>
<p>Go ahead, <a href="/auth/twitter">login with twitter</a>,
 start a lunch date and invite them!<p> 
<div class="ready login">
  <a class="icon-twitter" href="/auth/twitter">Login with twitter</a>
</div>