<p>This site is build and maintained by <a href="http://twitter.com/eskimobloood">eskimobloood</a>, <a href="http://twitter.com/elbartus">elbartus</a> and <a href="http://twitter.com/cainvommars">cainvommars</a> during a 48h nodejs hackathon called <a href="http://nodeknockout.com/">nodeknockout!</a></p>
<p>Play around and if you like it: Vote for us!</p>

<p>Connect with <a href="http://twitter.com/mahlzeit3000">@mahlzeit3000</a> to get the latest updates on mahlzeit.</p> 

<p>We would like to thank <a href="http://www.tweek.tv/"><img height="20" src="/img/tweek.png" title="tweek" /></a> for hosting our nko3 team!<br /> Thank you guys, you rock!</p>