body {
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  /*background: url("/img/background.png");*/
  background-color: white;
  background-image: -webkit-linear-gradient(0deg, rgba(200, 0, 0, .3) 50%, transparent 50%), -webkit-linear-gradient(rgba(200, 0, 0, .3) 50%, transparent 50%);
  background-image: -moz-linear-gradient(0deg, rgba(200, 0, 0, 0.3) 50%, transparent 50%), -moz-linear-gradient(to bottom, rgba(200, 0, 0, 0.3) 50%, transparent 50%);
  background-image: -o-linear-gradient(0deg, rgba(200, 0, 0, 0.3) 50%, transparent 50%), -o-linear-gradient(to bottom, rgba(200, 0, 0, 0.3) 50%, transparent 50%);
  background-image: linear-gradient(90deg, rgba(200,0,0,.3) 50%, transparent 50%), linear-gradient(rgba(200,0,0,.3) 50%, transparent 50%);
  background-size: 50px 50px;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body >* {
  width: 320px;
}


.logo {
  height: 40px;
  width: 40px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  border-color: #000 transparent transparent transparent;

}

.event-area {
  margin: 5px;
  padding: 5px;
  background: #f4eae0;
  -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  -moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  -o-box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.row{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
}

.time:first-child li {
  text-align: center;
  margin-left: 40px;
  font-size: 30px;
}

.time li:first-child {
  margin-left: 160px;
}

.time li:last-child {
  padding-right: 160px;
}

.time:not(:first-child) {
  padding: 10px 5px;
  margin-top: 10px;
}

.time {
  overflow-x: auto;
  border-bottom: solid 1px;
  padding: 5px;
  margin-bottom: 4px;
  position: relative;
}

.time:before {
  content: ' ';
  border: solid 1px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 8px 8px 0 8px;
  border-color: #000 transparent transparent transparent;
  position: absolute;
  top: -1px;
  left: 50%;
  margin-left: -4px;
}

.time li {
  width: 60px;
  padding: 0 5px;
  text-align: center;
  border: 1px solid transparent;
}

.time .active {
  border: 1px solid red;
}


.user {
  overflow: auto;
}

.user ul:first-child {
  border: none;
  border-bottom: solid 1px;
  margin-bottom: 4px;
}

.user ul:not(:first-child) {
  -webkit-column-width: 30px;
  -webkit-column-gap: 3px;
  height: 105px;
  padding: 0 5px;
}

input, button {
  border: none;
  border-top: solid 1px;
  display: block;
  background: transparent;
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  padding: 10px 5px;
}

.user input {
  width: 100%;
}

i {
  font-size: 15px;
  font-style: normal;
}

.invites {
  display: block;
}

.invites li {
  display: block;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #D0cad0;
  padding: 5px 2px 2px;
}

.invites img {
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  margin-right: 3px;
}
.invites p{
  margin: -2px 0 0 0;
  padding: 0;
  font-size: 10px;
}
.invites p span{
  display: block;
  font-size: 18px;
}
.invites button {
  position: absolute;
  background: red;
  width: 15px;
  height: 15px;
  right: 0;
  top: 0;
  border: none;
  padding: 0;
  border: none;
  border-radius: 9px 9px 9px 30px;
}

.invites button:after {
  content: '✕';
  color: #fff;
  position: absolute;
  left: 4px;
  top: -1px;
  font-size: 15px;
}

.friends-list li {
  padding: 5px;
  border-top: 1px solid #dddbd3;
  border-right: 1px solid #dddbd3;
  border-left: 1px solid #dddbd3;
  background-color: #f3efe6;
  background-image: url(/img/adduser.png), -webkit-gradient(linear, left top, left bottom, from(#fffeec), to(#f0e0e0)),; /* Safari 4+, Chrome */
  background-image: url(/img/adduser.png), -webkit-linear-gradient(top, #fffeec, #f3efe6); /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image: url(/img/adduser.png),    -moz-linear-gradient(top, #fffeec, #f3efe6); /* Firefox 3.6-15 */
  background-image: url(/img/adduser.png),      -o-linear-gradient(top, #fffeec, #ff3efe6); /* Opera 11.10-12.00 */
  background-image: url(/img/adduser.png),         linear-gradient(to bottom, #fffeec, #f3efe6); /* Firefox 16+, IE10, Opera 12.50+ */
  background-repeat: no-repeat;
  background-position: right center;
}

.friends-list li:last-child {
  border-bottom: 1px solid #dddbd3;
}

.join {
  border: lime 3px double;
}

.ready {
  overglow: hidden;
}
.ready #invite {
  float: right;
}
footer li {
  display: inline;
  padding: 3px;
  font-size: 15px;
}

footer a {
  color: gray;
}